*{
    padding:0;
    margin:0;
}

header{
    background-color: lightseagreen;
}
#list{
    list-style: none;
   display: flex;
}
li{

    padding:5px;
}
.content{
    padding:15px;
}
#button {
    width: 200;
    padding: 10px;
}
.color{
    background-color:goldenrod;
}
#form{
    line-height: 30px;
}
#box{
    border:2px solid blue;
}
/* history page  */
#scroll{
    width: 100px;
    height: 100px;
    overflow: auto;
}
.new-div{
    width: 1000px;
}
#online{
    height:200px;
}